{% extends 'base.html' %}

{% block title %}Menu - Little Lemon{% endblock %}

{% load static %}

{% block content %}
    <h2 class="text-center">Our Menu</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/dish1.jpg' %}" class="card-img-top" alt="Dish 1">
                <div class="card-body">
                    <h5 class="card-title">Grilled Chicken Salad</h5>
                    <p class="card-text">$12.99</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/dish2.jpg' %}" class="card-img-top" alt="Dish 2">
                <div class="card-body">
                    <h5 class="card-title">Pasta Carbonara</h5>
                    <p class="card-text">$15.99</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/dish3.jpg' %}" class="card-img-top" alt="Dish 3">
                <div class="card-body">
                    <h5 class="card-title">Margherita Pizza</h5>
                    <p class="card-text">$10.99</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/dish4.jpg' %}" class="card-img-top" alt="Dish 4">
                <div class="card-body">
                    <h5 class="card-title">Lemon Garlic Salmon</h5>
                    <p class="card-text">$18.99</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
